<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="Practice_TestNG.FirstTestNG"/>
      <class name="Practice_TestNG.SecondTestNG">
      	<methods>
			<exclude name="TC3"/>
			<exclude name="TC5"/>
		</methods>
	  </class>	 
      <class name="Practice_TestNG.ThirdTestNG">
		<methods>
			<include name="TestC4"/>
		</methods>
	</class>	
      <class name="Practice_TestNG.FourthTestNG"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
